@import './colors';

/* ANIMATIONS */

/* KEYFRAMES */
@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* Basic Animations */

.btn-hover-animation {
	transition: all 0.1s ease-in-out;
}

.btn-hover-animation:hover {
	background-color: $hover-color-medium;
}

.btn-hover-animation:active {
	background-color: $hover-color-light;
}
