/* COLORS */

$dark-gray-1: #151619;
$dark-gray-2: #232328;
$dark-gray-3: #2b2c33;
$dark-gray-4: #2e2e37;

$font-white: #fff;
$font-white-2: rgb(199, 199, 199);

$floating-component-color: #000000;

$selected-neutral:#262626;

$hover-color-dark: #202020;
$hover-color-medium: #2c2c2c;
$hover-color-light: #3c3c3c;

$border-color: #333333;
