/* COLORS */

$dark-gray-1: #151619;
$dark-gray-2: #232328;
$dark-gray-3: #2b2c33;
$dark-gray-4: #2e2e37;

$font-white: #fff;
$font-white-2: rgb(199, 199, 199);

$floating-component-color: #000000;

$selected-neutral: #262626;

$hover-color-dark: #151619;
$hover-color-medium: #1e1f24;
$hover-color-light: #2d2f37;

$border-color: #333333;
