/* COLORS */

$dark-gray-1: #1e1e1e;
$dark-gray-2: #252526;
$dark-gray-3: #333;

$font-white: #fff;
$font-white-2: rgb(199, 199, 199);

$floating-component-color: #000000;

$selected-neutral:#262626;

$hover-color-dark: #202020;
$hover-color-medium: #2c2c2c;
$hover-color-light: #3c3c3c;

$border-color: #333333;
