/* Font declarations */

@font-face {
	font-family: Poppins-Medium;
	src: url('../../../../assets/fonts/Poppins-Medium.ttf');
}

@font-face {
	font-family: FredokaOne;
	src: url('../../../../assets/fonts/FredokaOne.ttf');
}

@font-face {
	font-family: Quicksand-bold;
	font-weight: bold;
	src: url('../../../../assets/fonts/Quicksand.ttf');
}
@font-face {
	font-family: Quicksand-semibold;
	font-weight: bolder;
	src: url('../../../../assets/fonts/Quicksand.ttf');
}
@font-face {
	font-family: Quicksand-regular;
	font-weight: normal;
	src: url('../../../../assets/fonts/Quicksand.ttf');
}
@font-face {
	font-family: Quicksand-light;
	font-weight: 100;
	src: url('../../../../assets/fonts/Quicksand.ttf');
}

@font-face {
	font-family: RobotoMono-100;
	font-weight: 100;
	src: url('../../../../assets/fonts/RobotoMono.ttf');
}
@font-face {
	font-family: RobotoMono-200;
	font-weight: 200;
	src: url('../../../../assets/fonts/RobotoMono.ttf');
}
@font-face {
	font-family: RobotoMono-300;
	font-weight: 300;
	src: url('../../../../assets/fonts/RobotoMono.ttf');
}
@font-face {
	font-family: RobotoMono-400;
	font-weight: 400;
	src: url('../../../../assets/fonts/RobotoMono.ttf');
}
@font-face {
	font-family: RobotoMono-500;
	font-weight: 500;
	src: url('../../../../assets/fonts/RobotoMono.ttf');
}
@font-face {
	font-family: RobotoMono-600;
	font-weight: 600;
	src: url('../../../../assets/fonts/RobotoMono.ttf');
}
@font-face {
	font-family: RobotoMono-700;
	font-weight: 700;
	src: url('../../../../assets/fonts/RobotoMono.ttf');
}
