/* Font declarations */

@font-face {
	font-family: Poppins-Medium;
	src: url(../../../../assets/fonts/Poppins-Medium.ttf);
}

@font-face {
	font-family: FredokaOne;
	src: url('../../../../assets/fonts/FredokaOne.ttf');
}
