.env

node_modules/

# Log files
logs/
*.log

# Runtime files
pids
*.pid
*.seed

# Build files
release/app/dist
release/build
webpack/dll

# Temp files
.eslintcache
.idea
npm-debug.log.*
*.css.d.ts
*.sass.d.ts
*.scss.d.ts
.DS_Store
