@import '../../styles/colors';
@import '../../styles/animations';

.modal {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-in-out;
	overflow: hidden;
	z-index: 999;
}

.modal-content {
	width: 600px;
	height: 280px;
	background-color: $dark-gray-1;
	color: #fff;
	display: flex;
	flex-direction: column;
	padding: 40px;
	font-family: Quicksand-700;
	font-size: 18px;
	border-radius: 40px;
}

#modal-heading {
	font-family: Quicksand-500;
	font-size: 28px;
}

#modal-description {
	font-family: Quicksand-500;
	color: #bebebe;
	font-size: 18px;
	margin-top: 15px;
}

#modal-buttons-container {
	margin-top: auto;
}

#modal-buttons-container .danger {
	background-color: #ff4444;
	color: #ffffff;
}

#modal-buttons-container button {
	height: 45px;
	min-width: 100px;
	max-width: 50%;
	background-color: #ffffff;
	border: none;
	border-radius: 12px;
	margin-right: 15px;
	font-family: Quicksand-700;
	font-size: 18px;
	cursor: pointer;
	transition: all ease-in-out 0.05s;
}

#modal-buttons-container .danger:hover {
	background-color: #cd3636;
}

#modal-buttons-container button:hover {
	background-color: #d2d2d2;
}

.modal .close-btn {
	font-family: Quicksand-700;
	background-color: #ffffff;
	color: #000000;
	padding: 5px 8px 5px 8px;
	border-radius: 20px;
	margin-bottom: 10px;
	cursor: pointer;
	transition: all ease-in-out 0.15s;
}

.modal .close-btn:hover {
	box-shadow: 0 0 10px rgba($color: #ffffff, $alpha: 1);
	transition: all ease-in-out 0.05s;
}

.visible {
	animation: DialogEnter 0.15s;
}

.fading {
	animation: DialogLeave 0.15s;
}
