@import '../../styles/animations';
@import '../../styles/colors';
@import '../../styles/fonts';

* {
	padding: 0;
	margin: 0;
}

.queue-track {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	padding: 5px;
	margin: 0 5px 0px 5px;
	transition: background-color ease-in-out 0.1s;
	cursor: pointer;
}

.queue-track:hover {
	background-color: $hover-color-medium;
}

.queue-track-info {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: center;
	margin: 0 0 3px 10px;
	opacity: 0;
}

.queue-track-title {
	font-family: Quicksand-bold;
	font-weight: bold;
	width: 100%;
}

.queue-track-artist {
	font-family: Quicksand-bold;
	font-weight: bold;
	color: #b4b4b4;
	font-size: 13px;
	width: 100%;
}

#queue-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 40px;
	bottom: 85px;
	right: 10px;
	width: 70px;
	overflow: hidden;
	background-color: $floating-component-color;
	border-style: solid;
	border-color: $border-color;
	border-radius: 20px;
	font-size: 16px;

	transition: all 0.2s ease-in-out;

	.queue-track-info {
		animation: fadeOut ease 0.2s;
	}
}

#queue-container::-webkit-scrollbar-thumb {
	width: 5px;
	background-color: black;
}

#queue-container:hover {
	width: 260px;
	overflow-y: auto;
	overflow-x: hidden;

	.queue-track {
		margin-bottom: 3px;
	}

	.queue-track-info {
		animation: fadeIn ease-in-out 0.5s;
		opacity: 1;
	}

	#queue {
		transition: transform ease-in-out 0.2s;
		transform: translateX(0px);
	}

	#queue-title {
		font-size: 16px;
	}
}

#queue-title {
	font-family: Quicksand-bold;
	font-weight: bold;
	font-size: 11px;
	color: $font-white-2;
	text-align: center;
	padding: 10px;
	margin-bottom: 5px;
	transition: all ease-in-out 0.2s;
}

#queue {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px 10px 0 0;
	transform: translateX(28px);
}

#queue div {
	display: flex;
	flex-direction: row;
	max-height: 60px;
	width: 100%;
}

#queue img {
	width: 45px;
	height: 45px;
	border-radius: 8px;
	user-select: none;
	-webkit-user-drag: none;
	image-rendering: -webkit-optimize-contrast;
}
