@import '../../styles/animations';
@import '../../styles/colors';
@import '../../styles/fonts';

.alert {
	display: flex;
	align-items: center;
	justify-content: center;
	color: $font-white;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 50px;
	text-align: center;
	border-radius: 30px;
	width: 450px;
	height: 50px;
	margin-top: 10px;
	font-family: Quicksand-700;
	animation: alertEnter 0.8s;
}

.message {
	width: 350px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	animation: messageEnter 0.5s;
}

.alert.fade-out {
	animation: fadeOut 0.3s;
}

.alert.info {
	background-color: $dark-gray-3;
}

.alert.success {
	background-color: #4caf50;
}

.alert.warn {
	background-color: #d78100;
}

.alert.error {
	background-color: #f44336;
}

.closebtn {
	padding: 5px 10px 5px 10px;
	margin-right: 2px;
	color: $font-white;
	font-weight: bold;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
	border-radius: 15px;
}

.type-icon {
	color: $font-white;
	font-weight: bold;
	transition: 0.3s;
	user-select: none;
}

.closebtn:hover {
	background-color: rgba($color: #000000, $alpha: 0.3);
}

.lottie {
	margin: 5px 10px 0 10px;
}
