@import '../../styles/colors';
@import '../../styles/animations';

.tooltip-container {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip-text {
	position: absolute;
	z-index: 98;

	opacity: 0;
	// width: 140px;
	background-color: #fff;
	color: #000;
	text-align: center;
	border-radius: 10px;
	padding: 6px 10px;
	font-family: Quicksand-500;
	font-size: 14px;
	border: 2px solid black;
	animation: fadeIn 0.3s;
}

.tooltip-text.fadeIn {
	opacity: 1;
}
