@import '../../styles/colors';

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltip-text {
	visibility: hidden;
	opacity: 0;
	width: 140px;
	background-color: #8400ff;
	color: #fff;
	text-align: center;
	border-radius: 10px;
	padding: 8px;
	font-family: Quicksand-500;
	font-size: 14px;
	transition: all ease-in-out 0.15s;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
}

.tooltip:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}
