@import '../../../../styles/colors';

.repeat-btn {
	background-color: $dark-gray-3;
	display: flex;
	align-items: center;
	position: fixed;
	top: 5px;
	left: 313px;
	width: 85px;
	padding: 6px 8px 6px 8px;
	border-radius: 20px;
	transition: background-color ease-in-out 0.15s;
	-webkit-app-region: no-drag;
}

.repeat-btn-img {
	height: 16px;
	margin-right: 6px;
}

.repeat-btn-text {
	font-family: Quicksand-500;
	font-size: 14px;
}

.repeat-btn-one {
	height: 10px;
	position: absolute;
	top: 15px;
	left: 16px;
	filter: invert(1);
	opacity: 0;
	transition: all ease-in-out 0.15s;
}

.repeat-btn:hover {
	background-color: $hover-color-verylight;
}

.repeat-btn.active {
	color: #000000;
	background-color: #ffffff;

	.repeat-btn-img {
		filter: invert(1);
	}

	.repeat-btn-text {
		font-family: Quicksand-700;
	}
}
.repeat-btn.one {
	.repeat-btn-one {
		opacity: 1;
	}
}
