@import '../../styles/colors';

.tabcontrol-nav {
	/* Layout */
	display: inline-flex;
	flex-direction: row;
	margin-bottom: 15px;

	/* Color */
	background-color: $dark-gray-2;

	/* Animation */
	transition: all ease-in-out 0.2s;

	/* Misc */
	border-radius: 32px;
}

.tab {
	/* Layout */
	padding: 8px 16px;

	/* Colors */
	color: $font-white;

	/* Font */
	font-family: Quicksand-600;
	font-size: 16px;

	/* Animation */
	transition: all ease-in-out 0.2s;

	/* Misc */
	border-radius: 32px;
	cursor: pointer;
}

.tab:hover {
	/* Color */
	background-color: $hover-color-verylight;

	/* Animation */
	transition: all ease-in-out 0.1s;
}

.active {
	/* Color */
	color: #000;
	background-color: #fff;
}

.tab.active:hover {
	color: #000;
	background-color: #fff;
}
