@import '../../styles/colors';
@import '../../styles/animations';
@import '../../styles/fonts';

.playlist-container {
	background-color: $floating-component-color;
	position: absolute;
	top: 40px;
	bottom: 85px;
	left: 220px;
	right: 90px;
	border-style: solid;
	border-color: $border-color;
	border-radius: 20px;
	overflow-x: hidden;
}

.playlist-container:hover {
	overflow-y: hidden;
}

.playlist-heading {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	padding: 2px 0 5px 20px;
}

.playlist-heading > img {
	height: 30px;
	width: 30px;
	margin-top: 5px;
	margin-right: 10px;
	border-radius: 5px;
}

.playlist-heading-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 38px;
	height: 38px;
	border-radius: 10px;
}

.playlist-play-btn .play-icon {
	width: 25px;
	// padding: 0px 0 7px 4px;
}

.playlist-import-btn .import-icon {
	margin-top: 5px;
	width: 29px;
}

.playlist-delete-btn .delete-icon {
	margin-top: 1px;
	width: 27px;
}

.playlist-menu-btn .menu-icon {
	margin-top: 3px;
	width: 36px;
}

.playlist-heading .playlist-delete-btn:hover {
	background-color: $danger-color;
}

.playlist-heading-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 3px;
	font-size: 32px;
	font-family: Quicksand-400;
	padding: 0px 6px;
	border-radius: 10px;
	transition: all ease-in-out 0.08s;
}

.playlist-heading-text:hover {
	background-color: $hover-color-light;
}

.playlist-controls {
	display: flex;
	flex-direction: row;
	padding-left: 10px;
	margin: 5px 10px 0 0;
	margin-left: auto;
}

.playlist-container .divider {
	margin: 0px 10px;
	border-bottom: 1.5px solid rgb(43, 43, 43);
	border-radius: 10px;
}

/* PLAYLIST ITEM */
.song-item-container {
	opacity: 1;
	:hover {
		background-color: $hover-color-dark;
	}
	:active {
		background-color: $hover-color-medium;
	}
}

.song-item-container.hide {
	opacity: 0;
}

.song-item {
	display: flex;
	align-items: center;
	font-family: Quicksand-400;
	font-size: 16px;
	padding: 5px 5px 5px 5px;
	margin: 5px 15px 0px 15px;
	border-radius: 12px;
}

.song-item img {
	max-width: 40px;
	max-height: 40px;
	border-radius: 7px;
	margin: 0 10px 0 2px;
	image-rendering: -webkit-optimize-contrast;
}

.song-artist {
	color: rgba($color: #ffffff, $alpha: 0.7);
	font-size: 14px;
	margin: 2px 0 3px 0;
}

.song-duration {
	margin-left: auto;
	margin-right: 10px;
	color: rgba($color: #ffffff, $alpha: 0.7);
}

/* CONTEXT MENU */
.menu {
	display: block;
	background-color: white;
	padding: 10px 0px;
	border-radius: 5px;
	min-width: 200px;
	position: absolute;
	transform-origin: center;
	z-index: 2;
	opacity: 0;
	font-family: Quicksand-400;
	font-size: 14px;
	transform: scale(0);
	transition: transform 0.2s, opacity 0.2s;
}

.menu.show {
	opacity: 1;
	transform: scale(1);
	transform-origin: top right;
}

.menu-item {
	display: block;
	padding: 10px 30px;
	transition: 0.1s;
	color: #666;
}

.menu-item:hover {
	background-color: #eee;
	cursor: pointer;
}

.out-click {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	display: none;
}

.out-click.show {
	display: block;
}

.playlist-content {
	position: relative;
	top: 10px;
}

.playlist-menu {
	position: absolute;
	visibility: hidden;
}
