.container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 8px;

	.button-container {
		position: relative;
		width: 100%;
		display: flex;
		gap: 6px;
	}
}
