@import '../../../styles/colors';

.volume-slider-container {
	position: fixed;
	top: 7px;
	left: 80px;
	width: 130px;
	background-color: $dark-gray-3;
	border-radius: 13px;
	overflow: hidden;
}

.volume-slider {
	position: fixed;
	top: 7px;
	left: 78px;
	height: 25px;
	width: 136px;
	-webkit-appearance: none;
	appearance: none;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
	border-radius: 13px;
	-webkit-app-region: no-drag;
	opacity: 0;
	z-index: 1;
}

.volume-slider-progress {
	position: relative;
	right: 50%;
	background-color: $light-gray-1;
	opacity: 0.25;
	height: 25px;
	width: 130px;
	transition: opacity ease-in-out 0.1s;
}

.volume-slider-icon {
	position: absolute;
	top: 0px;
	left: 5px;
	height: 25px;
}

.volume-slider-percentage {
	position: absolute;
	top: 4px;
	right: 7px;
	font-family: Quicksand-600;
	font-size: 14px;
	z-index: 0;
}

.volume-slider-container:hover,
.volume-slider:hover {
	.volume-slider-progress {
		opacity: 0.4;
	}
}

.volume-slider-container:active {
	.volume-slider-progress {
		opacity: 0.6;
	}
}
