@import '../../styles/colors';

.context-menu {
	/* Layout */
	position: fixed;
	width: 210px;
	padding: 4px;

	/* Color */
	background-color: $dark-gray-2;

	/* Misc */
	border-radius: 16px;
	z-index: 2;
}
