.player-control-button {
	max-height: 30px;
	margin: 20px 20px 0 0px;
	float: right;
}

#skip-back-btn {
	height: 38px;
	position: absolute;
	top: 12px;
	right: 100px;
	padding: 3px;
}

#skip-forward-btn {
	height: 38px;
	position: absolute;
	top: 12px;
	right: 10px;
	padding: 3px;
}
