@import '../../styles/colors';

#nav-bar {
	position: absolute;
	top: 40px;
	bottom: 80px;
	left: 10px;
	width: 200px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-color: rgb(0, 0, 0);
	border-style: solid;
	border-color: $border-color;
	border-radius: 10px;
	//box-shadow: 3px 3px 3px 3px rgb(4, 4, 4);
}

#nav-bar> :last-child {
	margin-top: auto;
}

#nav-bar-logo {
	max-width: 40%;
	display: block;
	margin: auto;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-left: 0px;
}

.nav-btn {
	display: block;
	text-align: left;
	text-decoration: none;
	color: #ffffff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	padding: 5px 16px;
	margin: 5px 10px;
	border-radius: 6px;
}

.playlist-btn {
	display: block;
	text-align: left;
	text-decoration: none;
	color: #ffffff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	padding: 5px 16px;
	margin: 5px 15px;
	border-radius: 6px;
}

.playlist-btn.active {
	background-color: $selected-neutral;
}

#home-btn {
	color: rgb(255, 255, 255);
}

#library-btn {
	color: rgb(255, 255, 255);
}

#browse-btn {
	color: rgb(255, 255, 255);
}

#settings-btn {
	color: rgb(255, 255, 255);
	margin-bottom: 10px;
}

#pinned-playlist-section {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	float: left;
	margin-left: 20px;
	color: rgb(199, 199, 199);
	font-size: 11px;
	font-weight: bold;
	margin-top: 25px;
}

.btn-hover-animation {
	transition: all 0.1s ease-in-out;
}

.btn-hover-animation:hover {
	background-color: $hover-color-medium;
}

.nav-btn.active {
	background-image: linear-gradient(to bottom right,
			rgb(0, 174, 255),
			rgb(183, 0, 255));
}

.active:hover {
	box-shadow: 0px 0px 2px 3px $hover-color-dark;
}

.new-playlist-btn {
	float: right;
	padding-right: 10px;
}

.new-playlist-btn:hover {
	color: lightgoldenrodyellow;
	cursor: pointer;
}

#pinned-playlist-section {
	ul {
		list-style-type: none;

		li {
			div {
				color: rgb(199, 199, 199);
				text-decoration: none;
				cursor: pointer;
			}

			div:hover {
				box-shadow: none;
			}

			input {
				border: none;
				width: 90%;
				border-radius: 5px;
				background-color: $dark-gray-2;
				color: white;
			}

			input:focus {
				outline: none;
			}
		}
	}
}
