@import '../../styles/colors';
@import '../../styles/fonts';

#view {
	background-color: $floating-component-color;
	position: absolute;
	top: 40px;
	bottom: 80px;
	left: 220px;
	right: 90px;
	border-style: solid;
	border-color: $border-color;
	border-radius: 20px;
	//box-shadow: 3px 3px 3px 3px rgb(4, 4, 4);
	overflow: hidden;
}

#view-heading {
	box-sizing: border-box;
	font-size: 35px;
	font-family: Quicksand-regular;
	font-weight: 800;
	color: rgb(255, 255, 255);
	padding: 2px 0 0 20px;
}

#divider {
	border-top: 2px solid rgb(43, 43, 43);
	border-radius: 10px;
	margin-top: 5px;
	position: absolute;
	left: 15px;
	right: 15px;
}

.view-content {
	padding-top: 15px;
	padding-left: 15px;
}
