@import '../../styles/colors';
@import '../../styles/fonts';

.nav-bar {
	position: absolute;
	top: 40px;
	bottom: 85px;
	left: 10px;
	width: 240px;
	list-style-type: none;
	margin: 0;
	padding: 0 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-color: $floating-component-color;
	border-style: solid;
	border-color: $border-color;
	border-radius: 24px;
	//box-shadow: 3px 3px 3px 3px rgb(4, 4, 4);
}

.nav-bar-logo {
	width: 90px;
	max-width: 45%;
	display: block;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-left: 0px;
}

.nav-btn {
	display: block;
	text-align: left;
	text-decoration: none;
	color: #ffffff;
	font-family: Quicksand-400;
	padding: 5px 16px 5px 10px;
	margin: 5px 0px;
	border-radius: 20px;
}

.playlist-btn {
	display: block;
	text-align: left;
	text-decoration: none;
	color: #fff;
	font-family: Quicksand-400;
	font-weight: bold;
	padding: 5px 10px 5px 5px;
	margin: 5px 0px;
	border-radius: 10px;
}

.new-playlist-name-field {
	display: block;
	text-align: left;
	text-decoration: none;
	color: #fff;
	font-family: Quicksand-400;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 16px;
	border-radius: 10px;
	border-style: none;
	background-color: $dark-gray-3;

	&:focus {
		outline: none;
	}
}

.playlist-btn.active {
	background: #fff;
	color: #000;
}

.playlist-btn.active:hover {
	background-color: #fff;
	box-shadow: 0 0 5px #fff;
}

.settings-btn {
	margin-bottom: 10px;
}

.pinned-playlist-section {
	font-family: Quicksand-700;
	float: left;
	margin-left: 10px;
	color: rgb(199, 199, 199);
	font-size: 12px;
	font-weight: bold;
	margin-top: 25px;
	display: flex;
	flex-direction: row;
}

.pinned-playlist-section h2 {
	margin-top: 5px;
	font-size: 14px;
}

.horizontal-spacer {
	border: none;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	margin: 8px 10px 5px 10px;
}

.vertical-spacer {
	border: none;
	border-left: 1px solid $hover-color-light;
	margin: 4px 0px 4px 0px;
}

.btn-hover-animation {
	transition: all 0.1s ease-in-out;
}

.btn-hover-animation:hover {
	background-color: $hover-color-medium;
}

.nav-btn.active {
	background-image: linear-gradient(to right, rgb(0, 140, 255), rgb(162, 0, 255));
	box-shadow: 0 0 12px rgb(111, 0, 255);
}

.new-playlist-btn {
	float: right;
	padding: 4px 5px 6px 5px;
	border-radius: 50px;
	background-color: #ffffff;
	color: #000000;
	margin: 0 10px 0 0;
	margin-left: auto;
}

.new-playlist-btn:hover {
	cursor: pointer;
	box-shadow: 0 0 8px #ffffff;
}

.new-playlist-btn img {
	width: 12px;
	margin: 4px 3px -2px 2px;
}

.playlist-navitem {
	display: flex;
}

.playlist-navitem-img {
	width: 20px;
	height: 20px;
	border-radius: 5px;
	margin-right: 8px;
}

.playlist-navitem-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#history-button-container {
	/* Layout */
	position: fixed;
	top: 5px;
	left: 87px;
	display: flex;

	/* Color */
	background-color: $floating-component-color;

	border: $hover-color-light 1px solid;
	border-radius: 420px;
	z-index: 99;
	-webkit-app-region: no-drag;

	button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80px;
		height: 28px;

		color: #ffffff;
		background-color: transparent;

		border: none;
		border-radius: 0 420px 420px 0;

		transition: background-color ease-out 0.15s;

		&:hover {
			background-color: $hover-color-medium;
		}

		&:active {
			background-color: $hover-color-light;
		}

		img {
			filter: invert(1);
		}
	}

	button:first-child {
		border-radius: 420px 0 0 420px;
		img {
			rotate: 180deg;
		}
	}
}

.control-center-spacer {
	margin-top: auto;
}
