@import '../../styles/colors';

#player-container {
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	display: block;
	height: 60px;
	background: rgb(0, 0, 0);
	border-radius: 20px;
	border-style: solid;
	border-color: $border-color;
}

.player-icon-service {
	max-height: 20px;
	margin: 18px 0 0 20px;
	float: left;
}

.player-control-container {
	max-height: 30px;
	margin: 20px 20px 0 0px;
	float: right;
}

.player-control-icon {
	border-radius: 10px;
	transition: ease-in-out 0.08s;
}
.player-control-icon:hover {
	background-color: rgba($color: #ffffff, $alpha: 0.15);
}

#play-btn {
	height: 37px;
	position: absolute;
	top: 9px;
	right: 54px;
}

#skip-back-btn {
	height: 37px;
	position: absolute;
	top: 9px;
	right: 100px;
	padding: 3px;
}

#skip-forward-btn {
	height: 37px;
	position: absolute;
	top: 9px;
	right: 10px;
	padding: 3px;
}

/* Define the slider width so that it scales properly */
// .slider-container {
// 	width: 100%;
// 	max-width: 400px;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// }
.seek-slider {
	position: absolute;
	left: 0px;
	height: 57px;
	-webkit-appearance: none;
	appearance: none;
	background: white;
	opacity: 0;
	-webkit-transition: .2s;
	transition: opacity .2s;
	border-radius: 19px;
	// display: none;
}

.volume-slider {
	display: none;
	-webkit-appearance: none;
	appearance: none;
	height: 10px;
	background: white;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	border-radius: 10px;
}

.seek-slider::-webkit-slider-thumb,
.volume-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 10px;
	height: 57px;
	background-color: aqua;
	// opacity: 0;
	cursor: pointer;
	border-radius: 0%;
}

.seek-slider:hover,
.volume-slider:hover {
	opacity: 0.1;
}

.seek-slider {
	width: 100%;
}

.volume-slider {
	width: 20%;
}

.current-time,
.total-duration {
	padding: 10px;
	display: none;
}
