@font-face {
    font-family: FredokaOne;
    src: url('../../../../resources/fonts/FredokaOne.ttf');
}

#page-heading {
    box-sizing: border-box;
    font-size: 50px;
    font-family: FredokaOne;
    color: rgb(255, 255, 255);
    padding: 2px 0 0 20px;
}
