@import '../../styles/colors';

#player-container {
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	height: 65px;
	background: rgb(0, 0, 0);
	border-radius: 20px;
	border-style: solid;
	border-color: $border-color;
	overflow: hidden;
	display: block;
}

#player-controls-container {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.player-icon-service {
	max-height: 20px;
	margin: 18px 0 0 20px;
	float: left;
}

.player-control-container {
	max-height: 30px;
	margin: 20px 20px 0 0px;
	float: right;
}

.player-control-icon {
	border-radius: 10px;
	transition: ease-in-out 0.08s;
	z-index: 3;
}

.player-control-icon:hover {
	background-color: rgba($color: #ffffff, $alpha: 0.15);
}

#play-btn {
	height: 38px;
	position: absolute;
	top: 12px;
	right: 54px;
}

#skip-back-btn {
	height: 38px;
	position: absolute;
	top: 12px;
	right: 100px;
	padding: 3px;
}

#skip-forward-btn {
	height: 38px;
	position: absolute;
	top: 12px;
	right: 10px;
	padding: 3px;
}

/* Define the slider width so that it scales properly */
// .slider-container {
// 	width: 100%;
// 	max-width: 400px;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// }
.seek-slider {
	position: absolute;
	left: 0px;
	height: 62px;
	-webkit-appearance: none;
	appearance: none;
	background: white;
	opacity: 0;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
	border-radius: 19px;
	z-index: 2;
	width: 100%;
	cursor: pointer;
}

.current-time,
.total-duration {
	padding: 10px;
	display: none;
}

#progress-bar {
	background-color: #e2e5ff;
	opacity: 0.2;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 100%;
	border-radius: 18px 0 0 18px;
	z-index: 0;
	transition: opacity ease-in-out 0.15s;
}

#player-control-divider {
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	margin: 7px 3px 7px 0px;
}

#service-selector {
	margin: 20px 15px 17px 18px;
	z-index: 3;
}

#service-selector img {
	height: 22px;
}

#duration-floater {
	position: fixed;
	top: 5px;
	left: 50%;
	width: 150px;
	transform: translateX(-50%);
	text-align: center;
	background-color: $dark-gray-3;
	padding: 5px;
	border-radius: 20px;
	font-family: Quicksand-400;
	z-index: 4;
}
