@import '../../styles/colors';

.player-container {
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	height: 65px;
	background: rgb(0, 0, 0);
	border-radius: 20px;
	border-style: solid;
	border-color: $border-color;
	overflow: hidden;
	display: block;
}

.player-controls-container {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.player-icon-service {
	max-height: 20px;
	margin: 18px 0 0 20px;
	float: left;
}

.player-control-icon {
	border-radius: 10px;
	transition: ease-in-out 0.08s;
	z-index: 3;
}

.player-control-icon:hover {
	background-color: rgba($color: #ffffff, $alpha: 0.15);
}

.player-control-divider {
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	margin: 7px 3px 7px 0px;
}

.duration-floater {
	position: fixed;
	top: 5px;
	left: 50%;
	width: 150px;
	transform: translateX(-50%);
	text-align: center;
	background-color: $dark-gray-3;
	padding: 5px;
	border-radius: 20px;
	font-family: Quicksand-400;
	z-index: 4;
}
